<a href="https://colab.research.google.com/github/Salahbendary/Performance-Analysis-and-Prediction-of-LTE-Networks-Using-AI/blob/main/cellFileAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

In [30]:
cellFile = pd.read_csv('LTE_CellFile.csv', encoding='ISO-8859-1')

In [31]:
cellFile.shape

(22644, 22)

In [32]:
cellFile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22644 entries, 0 to 22643
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ï»¿VERSION      22644 non-null  float64
 1   GENERATED_DATE  22644 non-null  object
 2   VERSION2        22644 non-null  int64
 3   NET_OPERATOR    22644 non-null  object
 4   CELLNAME        22644 non-null  object
 5   SYSTEM_TYPE     22644 non-null  object
 6   EARFCN_DL       22644 non-null  int64
 7   PCI             22644 non-null  int64
 8   PCIG            22644 non-null  int64
 9   LTE_BANDWIDTH   22644 non-null  int64
 10  MCC             22644 non-null  int64
 11  MNC_LENGTH      22644 non-null  int64
 12  MNC             22644 non-null  int64
 13  TAC             22644 non-null  int64
 14  CI              22644 non-null  int64
 15  GEODETIC_DATUM  22644 non-null  object
 16  LATITUDE        22644 non-null  float64
 17  LONGITUDE       22644 non-null  float64
 18  DIRECTION       22644 non-null  int64
 19  BEAM_WIDTH      22644 non-null  int64
 20  HEIGHT          22644 non-null  float64
 21  INFORMATION     0 non-null      float64
dtypes: float64(5), int64(12), object(5)
memory usage: 3.8+ MB

In [33]:
cellFile.drop(['ï»¿VERSION','GENERATED_DATE','VERSION2','NET_OPERATOR','CELLNAME','SYSTEM_TYPE','EARFCN_DL','LTE_BANDWIDTH','MCC' ,'MNC_LENGTH','MNC','GEODETIC_DATUM','INFORMATION'],axis=1,inplace=True)

In [34]:
cellFile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22644 entries, 0 to 22643
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PCI         22644 non-null  int64
 1   PCIG        22644 non-null  int64
 2   TAC         22644 non-null  int64
 3   CI          22644 non-null  int64
 4   LATITUDE    22644 non-null  float64
 5   LONGITUDE   22644 non-null  float64
 6   DIRECTION   22644 non-null  int64
 7   BEAM_WIDTH  22644 non-null  int64
 8   HEIGHT      22644 non-null  float64
dtypes: float64(3), int64(6)
memory usage: 1.6 MB

In [35]:
cellFile.shape

(22644, 9)

In [36]:
# TAC Number depends on measurement Area
TAC1 = 42342 # First TAC in Sheikh Zayed Area
TAC2 = 42345 # Second TAC in Sheikh Zayed Area
cellFileTAC1 = cellFile['TAC']== TAC1
cellFileTAC2 = cellFile['TAC']== TAC2

In [37]:
# Filteration of CellFile into Cell File for just the measurement area
firstCellFile = cellFile[cellFileTAC1]
secondCellFile = cellFile[cellFileTAC2]

In [38]:
# Combine two files together
frames = [firstCellFile,secondCellFile]
cellFileModified = pd.concat(frames)

In [39]:
# To make sure that the shape of file has been minimized
cellFileModified.shape

(1000, 9)

In [40]:
# To correct PCI in range of 0 to 503 as our data measurement file
cellFileModified['CI'] = cellFileModified['PCIG'] * 3 + cellFileModified['PCI']

In [41]:
# Cell Filter Filteration to CSV File to work with
cellFileModified.to_csv('cellFileModified.csv', index=True)